@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scale-right {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 100%;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes zoom-in-pulse {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.125);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes list-item-scale {
  0% {
    transform: scale(0);
    color: transparent;
  }
  50% {
    color: transparent;
  }
  100% {
    color: inherit;
    transform: scale(1);
  }
}

@keyframes rules-link-scale-right {
  0% {
    width: 0;
    opacity: 0;
    color: transparent;
  }
  30% {
    opacity: 1;
  }
  50% {
    color: transparent;
  }
  80% {
    width: 100%;
  }
  100% {
    color: $c-dark;
  }
}

@keyframes slide-right-with-rotate {
  0% {
    opacity: 0;
    transform: translateX(-4rem) rotate(-90deg);

  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }
}

@keyframes slide-left-with-rotate {
  0% {
    opacity: 0;
    transform: translateX(4rem) rotate(90deg);

  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }
}
